/*Especificidad 002*/
li img {
    width: 150px;
    height: 200px;
}

/*Especificidad 001*/
ul {
    column-count: 3;
    list-style: none;
}

/*Especificidad 001*/
li {
    column-count: 1;
    text-align: center;
    padding: 20px;
    margin: 5px;
    background-color:  #020f20;
}
