/*Especificidad 001*/
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  /*Especificidad 001*/
  th{
    border: 0.02em solid #f40808;
    padding: 2em;
    margin: auto;
    text-align: center;
    color: #ffffff;
    text-decoration: underline;
  }
  
  /*Especificidad 001*/
  td {
    padding: 1em;
    border: 0.02em solid #f40808;
    text-align: center;
  }
  
  /*Especificidad 001*/
  caption {
    font: bold 1.5em Helvetica;
    padding: 1em;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0.01em 0em #f40808, -0.01em 0em #f40808, 0em -0.01em #f40808, 0em 0.01em #f40808;
    color: #ffffff;
    border: 0.02em solid #f40808;
    
  }

